@model Web.Controllers.ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "ようこそ";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS
{
    <link href="~/Content/css/Account/ExternalLoginConfirmation.css" rel="stylesheet" />
}
<div class="whole-layout">
    <div class="sign-up">&nbsp;&nbsp;サインアップ</div><br /><hr /><br />
    <div class="form">
        <p>
            linophiに興味を持っていただきありがとうございます。登録はこのページで終了です。
        </p>
        <br />

        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.NickName, new { @class = "label" })
            @Html.TextBoxFor(m => m.NickName, new { id = "NickName", name = "NickName", @class = "text-box" })<br/><br />
            @Html.LabelFor((m) => m.Email)
            @Html.TextBoxFor((m) => m.Email, new { id = "Email", name = "Email" })<br /><br />
            @Html.LabelFor(m => m.AcceptMail)
            @Html.CheckBoxFor(m => m.AcceptMail, new { id = "AcceptMail", name = "AcceptMail" })<br /><br />
            @Html.LabelFor(m => m.AcceptTerm)
            @Html.CheckBoxFor(m => m.AcceptTerm, new { id = "AcceptTerm", name = "AcceptTerm" })<br /><br />
            <input type="submit" value="登録">
        }
    </div>
</div>
