@model Web.Models.ViewArticleViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS
{

@*
    <script src="~/Scripts/jquery-ui.min.js"></script>
*@
    <script src="~/Scripts/Home/PostitPaster.js"></script>

    <script src="~/Scripts/Novel/Markups.js"></script>
    <script src="~/Scripts/Novel/novel-editor.js"></script>
    <script src="~/Scripts/Novel/ParagraphFactory.js"></script>
    <script src="~/Scripts/Novel/novel-viewer.js"></script>
}

@section CSS
{
    <link href="~/Content/css/Novel/Markup.css" rel="stylesheet" />
    <link href="~/Content/css/Home/viewarticle.css" rel="stylesheet" />
}


<div class="container">

    <div class="contents set">

        <div class="top">
            <div class="top-inner">

                <div class="viewhead">
                    <div class="viewhead-inner">

                        <div class="topicwordlist set">
                            <ul class="topicwordlistul">
                                @foreach (var tag in Model.Tags)
                                {
                                    <li class="topicwordlistli">
                                        <a href="" class="topicword">
                                            @tag.TagName <span class="topicwordnum">(@tag.ArticleCount)</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-inner">
                <nav class="navbar set">

                    <div class="navbar-main navbar-mainwiththumb">

                        <div class="navbar-thumb">
                            <img src="~/Content/imgs/Home/red.jpg" alt="">
                        </div>

                        <div class="navbar-txt">
                            <div class="article-title navbar-title"><a href="">@if(Model!=null){@Model.Title}</a></div>
                        </div>

                        <div class="navbar-count">
                            <span class="navbar-countfv">
                                <span class="navbar-countnum">70</span>
                                <span class="navbar-countlabel">ふせん</span>
                            </span>
                            <span class="navbar-countpv">
                                <span class="navbar-countnum">@if (Model != null)
                                                              {@Model.PageView}</span>
                                <span class="navbar-countlabel">view</span>
                            </span>
                        </div>
                    </div>
                    <div class="navbar-sub">
                        <div>
                            <p class="navbar-user"><span class="navbar-userthumb"><a href=""><img width="70" height="70" src="~/Content/imgs/Home/red.jpg"></a></span><span class="navbar-username"><a href="">@if (Model != null)
                                                                                                                                                                                                               {
                                                                                                                                                                                                                   @Model.Author
                                                                                                                                                                                                               }</a>さん</span></p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="contentswrapper set">
            <div class="main">
                <div>
                    <div class="widgetlist">
                        <div class="article-container widget widgettypetitle">
                            @if (Model != null&&Model.Content!=null)
                            {
                                @Html.Raw(Model.Content)
                            }
                        </div>
                    </div>
                </div>

                <div class="rellist">
                    <div>関連する投稿</div>
                    <div class="separator2"><hr></div>
                    <ul class="list">
                        <li class="listitem">
                            <p class="listthumb"><a href=""><img width="60" height="60" src="~/Content/imgs/Home/red.jpg"></a></p>
                            <div class="listtxt">
                                <h3 class="listtitle"><a href="">xxxxxxxxxxxxxxxx</a></h3><span class="listdesc">200ふせん<span class="separator">|</span>140157 view</span>
                            </div>
                        </li>
                        <li class="listitem">
                            <p class="listthumb"><a href=""><img width="60" height="60" src="~/Content/imgs/Home/red.jpg"></a></p>
                            <div class="listtxt">
                                <h3 class="listtitle"><a href="">xxxxxxxxxxxxxxxxx</a></h3><span class="listdesc">200ふせん<span class="separator">|</span>101551 view</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="rellist">
                    <div>ふせんの推移が似ている投稿</div>
                    <div class="separator2"><hr></div>
                    <ul class="list">
                        <li class="listitem">
                            <p class="listthumb"><a href=""><img width="60" height="60" src="~/Content/imgs/Home/red.jpg"></a></p>
                            <div class="listtxt">
                                <h3 class="listtitle"><a href="">xxxxxxxxxxxxxxxx</a></h3><span class="listdesc">200ふせん<span class="separator">|</span>140157 view</span>
                            </div>
                        </li>
                        <li class="listitem">
                            <p class="listthumb"><a href=""><img width="60" height="60" src="~/Content/imgs/Home/red.jpg"></a></p>
                            <div class="listtxt">
                                <h3 class="listtitle"><a href="">xxxxxxxxxxxxxxxxx</a></h3><span class="listdesc">200ふせん<span class="separator">|</span>101551 view</span>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="separator1"><hr></div>
            </div>
            <div class="dropbox">
                <div class="postit-pasting"></div>
            </div>
            <div class="postit">
                <div class="postit-contents">
                    <h2 class="postit-title">ふせんを貼る</h2>
                    <div class="postit-list">
                        <img src="~/Content/imgs/Home/surprized.png">
                        <img src="~/Content/imgs/Home/anger.png">
                        <img src="~/Content/imgs/Home/fun.png">
                        <img src="~/Content/imgs/Home/bethink.png">
                        <img src="~/Content/imgs/Home/good.png">
                        <img src="~/Content/imgs/Home/sad.png">
                        <img src="~/Content/imgs/Home/noidea.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="fade-layer"></div>
<script type="application/json" id="label-info">
    @Html.Raw(Model.LabelInfo)
</script>
