@model Web.Models.SearchResultViewModel

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section CSS
{
    <link href="~/Content/css/Home/Search.css" rel="stylesheet" />
}

@section JS{
<script src="~/Scripts/Utility/SearchOrderOptionBox.js"></script>
    <script src="~/Scripts/Home/Search.js"></script>
}
@Html.HiddenFor(m=>m.SearchText,new{id="searchedText"})
@Html.HiddenFor(m => m.Order, new { id = "order" })
@Html.HiddenFor(m => m.Skip, new { id = "skip" })
@Html.HiddenFor(m=>m.Count,new {id="count"})
<div class="contents">
    <div class="wrapper">
        <div class="main">
            <div class="search-result">

                @if (Model.Articles.Length == 0)
                {
                    <div class="search-header">
                        <h1>@Model.SearchResultText</h1>
                        <img src="~/Content/imgs/login.png" class="linophi-chara" />
                    </div>
                }
                else
                {
                    <div class="search-header">
                        <h1>@Model.SearchResultText</h1>
                        <form>
                            <select class="search-menu" onchange="searchPageOrderOptionBox.onOptionChange()">
                                <option value="0" selected>検索方法の選択</option>
                                <option value="1">投稿が新しい順</option>
                                <option value="4">投稿が古い順</option>
                                <option value="2">閲覧数が多い順</option>
                                <option value="5">閲覧数が少ない順</option>
                                <option value="3">ふせんが多い順</option>
                                <option value="6">ふせんが少ない順</option>
                            </select>
                        </form>
                    </div>
                    <div class="search-editted">
                        <div class="adjust">
                            @foreach (var article in Model.Articles)
                            {
                                <span class="listitem">
                                    <p class="listthumb">@Html.Raw(article.ThumbnailTag)</p>
                                    <span class="listtxt">
                                        <h3 class="listtitle"><a href="@("/"+article.ArticleId)">@article.Title</a></h3><br /><span class="listdesc">@article.PageView view|@article.LabelCount ふせん|@article.Article_UpDate last updated</span>
                                    </span>
                                </span>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="page-control">
                <span class="page-before"><a>前に戻る</a></span>
                <span class="page-after"><a>先に進む</a></span>
            </div>
            
        </div>

@*        <div class="dropbox">*@
@*            $1$おすすめ投稿書いてみたり広告入れてみたり自由に使うスペースってことで#1#*@
@*        </div>*@
    </div>
</div>