@model Web.Models.SearchResultViewModel

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section CSS
{
    <link href="~/Content/css/Home/Search.css" rel="stylesheet" />
}

@section JS{
<script src="~/Scripts/Utility/SearchOrderOptionBox.js"></script>
    <script src="~/Scripts/Home/Search.js"></script>
}
@Html.HiddenFor(m=>m.SearchText,new{id="searchedText"})
@Html.HiddenFor(m => m.Order, new { id = "order" })
@Html.HiddenFor(m => m.Skip, new { id = "skip" })
<div class="contents">
    <div class="wrapper">
        <div class="main">
            <ul class="search-result">
                
                @if (Model.Articles.Length == 0)
                {
                    <div class="search-header">
                        <h1>@Model.SearchResultText</h1>
                        <img src="~/Content/imgs/login.png" class="linophi-chara" />
                    </div>
                }
                else
                {
                    <div class="search-header">
                        <h1>@Model.SearchResultText</h1>
                        <form>
                            <select class="search-menu" onchange="searchPageOrderOptionBox.onOptionChange()">
                                <option selected>検索方法の選択</option>
                                <option value="0">投稿が新しい順</option>
                                <option value="3">投稿が古い順</option>
                                <option value="1">閲覧数が多い順</option>
                                <option value="4">閲覧数が少ない順</option>
                                <option value="2">ふせんが多い順</option>
                                <option value="5">ふせんが少ない順</option>
                            </select>
                        </form>
                    </div><div class="search-editted">
    <div class="adjust">
        @foreach (var article in Model.Articles)
        {
            <li class="listitem">
                <p class="listthumb">@Html.Raw(article.ThumbnailTag)</p>
                <div class="listtxt">
                    <h3 class="listtitle"><a href="@("/"+article.ArticleId)">@article.Title</a></h3><br /><span class="listdesc">@article.PageView view|@article.LabelCount ふせん|@article.Article_UpDate last updated</span>
                </div>
            </li>

        }
    </div>
</div>
                }
            </ul>
        </div>

@*        <div class="dropbox">*@
@*            $1$おすすめ投稿書いてみたり広告入れてみたり自由に使うスペースってことで#1#*@
@*        </div>*@
    </div>
</div>