@using Web.ViewModel
@model Web.ViewModel.Home.TopViewModel
@{
    ViewBag.Title = "意見.みんな|みんなで作る主観メディア";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Home/Top.js"></script>
    <script src="~/Scripts/Home/TopTitle.js"></script>
}

@section CSS{
    <link href="~/Content/css/Home/Top.min.css" rel="stylesheet" />
    <link href="~/Content/css/Home/TitleFonts.min.css" rel="stylesheet" />
}

@section OGP{
    @Html.RenderOGP(Model)
}


@*
    .top-container
      .top-header
        %h1
        %p.top-subttl
      .top-main.clearfix
        .top-contents
          .top-topics-flare
            %h2
            .top-subject-wrapper
              .top-subject
              .top-subject
          .top-topics-category
            .top-summary.clearfix
              .top-title
                %img
                %h2
              .top-factor
                %p
                %p
            .top-index.clearfix
              .top-index-box
                %p
                %ul
                  %li
                    %small
                  %li
                    %small
              .top-index-box
                %p
                %ul
                  %li
                    %small
                  %li
                    %small
        .top-rightbar
          .ads
*@

<article class="top-container">
    <section class="top-header">
        <h1>意見<span>.</span><span>み</span><span>ん</span><span>な</span></h1>
        <p class="top-subttl">- みんなで作る"主観"メディア -</p>
    </section>

    <div class="top-main clearfix">
        
        <div class="top-contents">
            <section class="top-topics-flare">
                <h2>今最も燃えている記事</h2>
                <div class="top-subject-wrapper clearfix">
                    @foreach (var topsubject in Model.FlameArticles)
                    {
                        <div class="top-subject"><a href="#">@topsubject.Title</a></div>
                    }
                </div>
            </section>

            <section class="top-topics-category">
                @*<h2>今話題のトピック</h2>*@
                @foreach (var sectionModel in Model.TopicSections)
                {
                    <section>
                        <div class="top-summary clearfix">
                            <div class="top-title">
                                <h3>@sectionModel.TopicTitle</h3>
                            </div>
                            <div class="top-factor">
                                @*@sectionModel.TopicDescription*@
                                <img src="@("/Pages/ContentUpload/TopicThumbnail?topicId="+sectionModel.TopicId)" alt="@sectionModel.TopicTitle" height="140">
                                @Html.Raw(sectionModel.TopicDescription)
                                @*右はテスト文章*@親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）
                            </div>
                        </div><!-- .top-summary -->
                        <div class="top-index clearfix">
                            <div class="top-index-box">
                                <p>HOT</p>
                                <ul>
                                    @foreach (var article in sectionModel.FlamedModels)
                                    {
                                        <li><a href="@("/"+article.ArticleModelId)">@article.Title</a><small>@article.UpdateTime.ToShortDateString()</small></li>
                                    }                                </ul>
                            </div>
                            <div class="top-index-box">
                                <p>NEW</p>
                                <ul>
                                    @foreach (var article in sectionModel.NewModels)
                                    {
                                        <li><a href="@("/"+article.ArticleModelId)">@article.Title</a><small>@article.UpdateTime.ToShortDateString()</small></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="top-post-this-container">
                            <a class="top-post-this" href="@("/Edit?topicId="+sectionModel.TopicId)">関連/反証記事を書く</a>
                        </div>
                    </section>
                    <!-- .top-index -->

                }
            </section><!-- .top-category -->
        </div><!-- .top-contents -->

        <aside class="top-rightbar">
            <div class="top-notification">
                jkdhsfjklasghfjk
            </div>
            <div class="top-ads">
                <img src="~/Content/imgs/test-banner.gif">
                <img src="~/Content/imgs/test-banner.gif">
            </div>
        </aside><!-- .top-rightbar -->
    </div><!-- .top-main -->
</article><!-- .top-container -->
