@using Web.ViewModel
@model Web.ViewModel.Home.TopViewModel
@{
    ViewBag.Title = "意見.みんな|みんなで作る主観メディア";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JS{
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Home/Top.js"></script>
    <script src="~/Scripts/Home/TopTitle.js"></script>
}

@section CSS{
    <link href="~/Content/css/Home/Top.min.css" rel="stylesheet" />
    <link href="~/Content/css/Home/TitleFonts.min.css" rel="stylesheet" />
}

@section OGP{
    @Html.RenderOGP(Model)
}


@*
    .top-container
      .top-header
        %h1
        %p.top-subttl
      .top-main.clearfix
        .top-contents
          .top-topics-flare
            %h2
            .top-subject-wrapper
              .top-subject
              .top-subject
          .top-topics-category
            .top-summary.clearfix
              .top-title
                %img
                %h2
              .top-factor
                %p
                %p
            .top-index.clearfix
              .top-index-box
                %p
                %ul
                  %li
                    %small
                  %li
                    %small
              .top-index-box
                %p
                %ul
                  %li
                    %small
                  %li
                    %small
        .top-rightbar
          .ads
*@

<article class="top-container">
    <section class="top-header">
        <h1>意見<span>.</span><span>み</span><span>ん</span><span>な</span></h1>
        <p class="top-subttl">- みんなで作る"主観"メディア -</p>
    </section>

    <div class="top-main clearfix">
        
        <div class="top-contents">
            <section class="top-topics-flare">
                <h2>今燃えている記事</h2>
                <div class="top-subject-wrapper clearfix">
                    <div class="top-subject"><a href="#">イスラム国、英国人を予告ど ...</a></div>
                    <div class="top-subject"><a href="#">イスラム国、英国人を予告ど ...</a></div>
                    <div class="top-subject"><a href="#">イスラム国、英国人を予告ど ...</a></div>
                </div>
            </section>

            <section class="top-topics-category">
                @*<h2>今話題のトピック</h2>*@
                @foreach (var sectionModel in Model.TopicSections)
                {
                    <section>
                        <div class="top-summary clearfix">
                            <div class="top-title">
                                <h3>社畜問題</h3>
                            </div>
                            <div class="top-factor">
                                @*@sectionModel.TopicDescription*@
                                <img src="@("/Pages/ContentUpload/TopicThumbnail?topicId="+sectionModel.TopicId)" alt="@sectionModel.TopicTitle" height="140">
                                <p>「社畜」という言葉を見たり耳にしたりした時に、その言葉が一体何を意味するのかがよく分からないと感じたことはないか。この点、wikipediaでは「勤めている会社（営利企業）に飼い慣らされてしまい自分の意思と良心を放棄し奴隷（家畜）と化したサラリーマンの状態を揶揄したもの」と説明されている。</p>
                                <p class="test">「社畜」という言葉を見たり耳にしたりした時に、その言葉が一体何を意味するのかがよく分からないと感じたことはないか。この点、wikipediaでは「勤めている会社（営利企業）に飼い慣らされてしまい自分の意思と良心を放棄し奴隷（家畜）と化したサラリーマンの状態を揶揄したもの」と説明されている。</p>
                            </div>
                        </div><!-- .top-summary -->
                        <div class="top-index clearfix">
                            <div class="top-index-box">
                                <p>HOT</p>
                                <ul>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                </ul>
                            </div>
                            <div class="top-index-box">
                                <p>NEW</p>
                                <ul>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-post-this-container">
                            <a class="top-post-this">関連/反証記事を書く</a>
                        </div>
                    </section>
                    <!-- .top-index -->

                }

                @*<h2>今話題のトピック</h2>*@
                @foreach (var sectionModel in Model.TopicSections)
                {
                    <section>
                        <div class="top-summary clearfix">
                            <div class="top-title">
                                @*<img src="@("~/Pages/ContentUpload/TopicThumbnail?topicId="+sectionModel.TopicId)" alt="@sectionModel.TopicTitle" height="140">*@
                                <h3>イスラム国問題</h3>
                            </div>
                            <div class="top-factor">
                                @*@sectionModel.TopicDescription*@
                                <img src="~/Content/imgs/test-h2bg.png">
                                <p>「社畜」という言葉を見たり耳にしたりした時に、その言葉が一体何を意味するのかがよく分からないと感じたことはないか。この点、wikipediaでは「勤めている会社（営利企業）に飼い慣らされてしまい自分の意思と良心を放棄し奴隷（家畜）と化したサラリーマンの状態を揶揄したもの」と説明されている。</p>
                                <p class="test">「社畜」という言葉を見たり耳にしたりした時に、その言葉が一体何を意味するのかがよく分からないと感じたことはないか。この点、wikipediaでは「勤めている会社（営利企業）に飼い慣らされてしまい自分の意思と良心を放棄し奴隷（家畜）と化したサラリーマンの状態を揶揄したもの」と説明されている。</p>
                            </div>
                        </div><!-- .top-summary -->
                        <div class="top-index clearfix">
                            <div class="top-index-box">
                                <p>HOT</p>
                                <ul>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                </ul>
                            </div>
                            <div class="top-index-box">
                                <p>NEW</p>
                                <ul>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                    <li><a href="#">イスラム国、英国人を予告どおり殺害か ３本目のビデオ公開</a><small>2014.09.14 Sun posted at 09:52 JST</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-post-this-container">
                            <a class="top-post-this">関連/反証記事を書く</a>
                        </div>
                    </section>
                    <!-- .top-index -->

                }
            </section><!-- .top-category -->
        </div><!-- .top-contents -->

        <aside class="top-rightbar">
            <div class="top-notification">
                jkdhsfjklasghfjk
            </div>
            <div class="top-ads">
                <img src="~/Content/imgs/test-banner.gif">
                <img src="~/Content/imgs/test-banner.gif">
            </div>
        </aside><!-- .top-rightbar -->
    </div><!-- .top-main -->
</article><!-- .top-container -->
