
@using Web.Utility

<header>
    <div class="menu">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "search" }))
        {
            <div class="search-container">
                <input type="search" class="search-text" name="searchText" placeholder="記事を検索">
                <input type="button" class="search-button">
            </div>
        }
        <div>
            <div class="header-brand-container">
                <a class="header-brand" href="/">意見.みんな</a>
            </div>
            <div id="dropmenu">
                <ul>
                    <li><span>@Html.ActionLink("投稿する", "RedirectToEdit", "Edit")</span></li>
                    <li>
                        <span>
                            @{
                                if (!Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Login", "Account", FormMethod.Get, new { @class = "login-form" }))
                                    {
                                        @Html.Hidden("returnUrl", Request.Url)
                                        <a onclick="$('.login-form').submit();">ログイン</a>
                                    }
                                }
                                else
                                {
                                    @Html.GravatarImg(Request, 24)
                                    <a href="/MyPage">@WebPageStatic.GetUserNickName(Request)</a>
                                    @Html.ActionLink("設定", "Config", "Account")
                                    @Html.ActionLink("ログアウト", "Logout", "Account")
                                }
                            }
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>