@using Web.Utility
<header class="header">
    <div class="menu">
        <form class="search">
            <input type="search" class="search-text" >
            <input type="button" class="search-button" value="検索">
        </form>
        <div class="menu-list">
            <ul>

                <li>@Html.ActionLink("投稿する","RedirectToEdit","Edit")</li>
                |
                <li>
                    @{
                         if (!Request.IsAuthenticated)
                         {
                             using (Html.BeginForm("Login","Account",FormMethod.Get))
                              {
                                 @Html.Hidden("returnUrl",Request.Url)
                                <input type="submit" value="ログイン"/>
                              }
                         }
                         else
                         {
                             <!--TODO:ここをドロップダウンにしといて-->
                             @WebPageStatic.GetUserNickName(Request)
                             <ul>
                                 <li>@Html.ActionLink("設定","Config","Account")</li>
                                 <li>@Html.ActionLink("ログアウト","Logout","Account")</li>
                             </ul>
                         }
                    }
                </li>
            </ul>
        </div>
    </div>
</header>