@using Web.Utility

<header>
    <div class="menu">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "search" }))
        {
            <div class="search-container">
                <input type="search" class="search-text" name="searchText" placeholder="記事を検索">
                <input type="submit" class="search-button" value="">
            </div>
        }
        <div>
            <div class="header-brand-container">
                <a class="header-brand" href="/">意見.みんな</a>
            </div>
            <div id="dropmenu">
                <ul class="header-menu-list-container">
                    <li>@Html.ActionLink("投稿する", "RedirectToEdit", "Edit")</li>
                    @{
                        if (!Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Login", "Account", FormMethod.Get, new { @class = "login-form" }))
                            {
                                @Html.Hidden("returnUrl", Request.Url)
                                <li><a onclick="$('.login-form').submit();">ログイン</a></li>
                            }
                        }
                        else
                        {

                            <li>
                                <span class="user-icon">
                                    @Html.GravatarImg(Request, 24)
                                </span>
                                <a href="/MyPage">@WebPageStatic.GetUserNickName(Request)</a>
                            </li>
                            <li>@Html.ActionLink("設定", "Config", "Account")</li>
                            <li>@Html.ActionLink("ログアウト", "Logout", "Account")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</header>