@model Web.ViewModel.Admin.EditTopicViewModel

@{
    ViewBag.Title = "トピック編集";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section CSS
{
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
}

<div class="container">
    @using(Html.BeginForm("EditTopic","Admin",FormMethod.Post,new {enctype="multipart/form-data"})){
        @Html.HiddenFor(f=>f.TopicId)
    <p>トピックタイトル</p>
    @Html.TextBoxFor(f => f.EditTarget.TopicTitle)
    <p>トピック詳細</p>
    @Html.TextAreaFor(f=>f.EditTarget.Description)
    <p>長いトピック詳細</p>
    @Html.TextAreaFor(f => f.EditTarget.LongDescription)
    <p>テキストによるトピックの詳細</p>
    @Html.TextAreaFor(f => f.EditTarget.RawTextDescription)
    <p>炎上指数</p>
    @Html.TextBoxFor(f=>f.EditTarget.EvaluationOfFire)
        <p>サムネイル</p>
        <input type="file" name="Thumbnail"/>
    <input type="submit"/>
    }
</div>
